.vscode/**
.vscode-test/**
.gitignore
AGENTS.md
vsc-extension-quickstart.md

typings/
tests/
coverage/
.github/
src/
node_modules/**
!node_modules/lgd-callback-parameter-highlighting/index.js
!node_modules/lgd-callback-parameter-highlighting/package.json
!node_modules/typescript/package.json
!node_modules/typescript/LICENSE.txt
!node_modules/typescript/ThirdPartyNoticeText.txt
!node_modules/typescript/lib/typescript.js
!node_modules/typescript/lib/lib.*.d.ts
!node_modules/typescript/lib/lib.d.ts
**/*.vsix
**/*.map
artifacts/**
**/*.log

webpack.config.js
eslint.config.js
jsconfig.json
